anonymous_enable={{ anonymous_enable }}
anon_upload_enable={{ anon_upload_enable }}
listen={{ listen }}
local_enable={{ local_enable }}
write_enable={{ write_enable }}
dirmessage_enable={{ dirmessage_enable }}
